@import "./variables";

.search {
  &__container {
    height: 35px;
    background-color: $dark-color;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    color: white;
    font-family: $common-font;

    & > *:first-child {
      border-radius: 10px 0 0 10px;
      margin-right: 60px;
    }

    & > *:last-child {
      border-radius: 0 10px 10px 0;
      margin-left: auto;
    }

    & input {
      display: none;
    }

    & input:checked + label {
      color: black;
      background-color: $bright-color;
    }
  }

  &__item {
    padding: 0 18px;
    height: 100%;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &.icon {
      width: 40px;
      background-image: url("../assets/img/search.svg");
      background-position: center center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }

    &.active {
      color: black;
      background-color: $bright-color;
    }
  }
}
